<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yuwen Hung - Web Application Development  - Assignment 1 - Express Portfolio - About Page</title>
        <meta charset="utf-8">
        <meta content="Web Application Development, Assignment 1 - Express Portfolio , COMP 229" name="keywords">
        <!--Created by: Yuwen Hung Student number: 301253941--> 
    </head>
    <body id="allPage">
        <nav>
            <img src="../assets/images/Logo.png" alt="Logo" width="110.4" height="139.38">
            <a href="app.component.html" routerLinkActive="active" id="button">Home </a>
            <a routerLink="about" routerLinkActive="active" id="button">About Me</a>
            <a routerLink="projects" routerLinkActive="active" id="button">Project</a>
            <a routerLink="services" routerLinkActive="active" id="button">Services</a>
            <a routerLink="contact" routerLinkActive="active" id="button" >Contact Me</a>
        </nav>
        <section id="aboutme">
            <img src="../assets/images/MY.jpg" alt="Myphoto" style="float:left; margin-right:8px" width="378" height="504">
            <h2>About me</h2>
            <p>I am an adaptable, reliable, and hard-working individual with multiple experiences in retail and coffee shop.<br> I have been responsible for making drinks, ordering, marketing, and so on. I also motivate myself to develop new skills and abilities constantly.</p><br>
            <h2>Education</h2>
            <P><b>FU JEN Catholic University</b></P>
            <P>Philosophy 2014-2018</P>
            <P><b>Centennial College</b></P>
            <p>Software Engineering Technician 2022-2023</p><br>
            <h2>Languages</h2>
            <p>Mandarin - Native</p>
            <p>English</p>
            <div>
                <a href="https://drive.google.com/file/d/1GodTPgyRn_mcFOwNLSRGyvwwd-phHjUV/view?usp=sharing"><button id="rButton" type="button">Resume</button></a>
            </div>
        </section>
    </body>
</html>
    
