<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yuwen Hung - Web Application Development  - Assignment 1 - Express Portfolio - Contact Page</title>
        <meta charset="utf-8">
        <meta content="Web Application Development, Assignment 1 - Express Portfolio , COMP 229" name="keywords">
        <!--Created by: Yuwen Hung Student number: 301253941--> 
    </head>
    <body id="allPage">
        <nav>
            <img src="../assets/images/Logo.png" alt="Logo" width="110.4" height="139.38">
            <a href="app.component.html" routerLinkActive="active" id="button">Home </a>
            <a routerLink="about" routerLinkActive="active" id="button">About Me</a>
            <a routerLink="projects" routerLinkActive="active" id="button">Project</a>
            <a routerLink="services" routerLinkActive="active" id="button">Services</a>
            <a routerLink="contact" routerLinkActive="active" id="button" >Contact Me</a>
        </nav>
        <form>
            <fieldset>
                <h3>
                    <label for="txtFName">First Name </label>
                    <input id="txtFName" type="text" name="txtFName" size="25" tabindex="1" required="required" placeholder="- Enter your first name -">
                </h3>
                <h3>
                    <label for="txtLName">Last Name </label>
                    <input id="txtFName" type="text" name="txtFName" size="25" tabindex="1" required="required" placeholder="- Enter your last name -">
                </h3>
                <h3>
                    <label for="txtEmail">Email </label>
                    <input id="txtEmail" type="text" name="txtEmail" size="25" tabindex="14" required="required" placeholder="- Enter your email address -">
                </h3>
                <h3>
                    <label for="txtCNumber">Contact Number </label>
                    <input id="txtCNumber" type="text" name="txtCNumber" size="15" tabindex="15" required="required" placeholder="- (xxx)xxx-xxxx -">
                </h3>
                <h3>
                    <label for="txtMessage"><b>Message </b></label>
                    <textarea id="txtMessage" name="txtMessage" cols="100" rows="5" tabindex="55" placeholder="- If you have any advice,please feel free to let me know! -"></textarea>
                </h3>
                <p>
                    <input name="btnSubmit" type="submit" value="Submit" tabindex="56">
                    <input name="btnReset" type="reset" value="Reset" tabindex="57" href="contact.component.html">
                </p>
            </fieldset>
        </form>
    </body>
</html>
    
  


  


