<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yuwen Hung - Web Application Development  - Assignment 1 - Express Portfolio - Home Page</title>
        <meta charset="utf-8">
        <meta content="Web Application Development, Assignment 1 - Express Portfolio , COMP 229" name="keywords">
        <!--Created by: Yuwen Hung Student number: 301253941--> 
    </head>
    <body id="allPage">
      <div id="logo">
      </div>
      <nav>
        <img src="../assets/images/Logo.png" alt="Logo" width="110.4" height="139.38"><br>
        <a href="app.component.html" routerLinkActive="active" id="button">Home </a><br>
        <a routerLink="about" routerLinkActive="active" id="button">About Me</a><br>
        <a routerLink="projects" routerLinkActive="active" id="button">Project</a><br>
        <a routerLink="services" routerLinkActive="active" id="button">Services</a><br>
        <a routerLink="contact" routerLinkActive="active" id="button">Contact Me</a>
      </nav>
      <div id="topic">
        <h1>Yuwen</h1><br><br><br>
        <h1>Hung</h1><br><br><br>
        <h1>Portfolio</h1>
      </div>
    </body>
</html>

<router-outlet></router-outlet>
    
  


  



