<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yuwen Hung - Web Application Development  - Assignment 1 - Express Portfolio - Servise Page</title>
        <meta charset="utf-8">
        <meta content="Web Application Development, Assignment 1 - Express Portfolio , COMP 229" name="keywords">
        <!--Created by: Yuwen Hung Student number: 301253941--> 
    </head>
    <body id="allPage">
        <nav>
            <img src="../assets/images/Logo.png" alt="Logo" width="110.4" height="139.38">
            <a href="app.component.html" routerLinkActive="active" id="button">Home </a>
            <a routerLink="about" routerLinkActive="active" id="button">About Me</a>
            <a routerLink="projects" routerLinkActive="active" id="button">Project</a>
            <a routerLink="services" routerLinkActive="active" id="button">Services</a>
            <a routerLink="contact" routerLinkActive="active" id="button" >Contact Me</a>
        </nav>
        <section id="services">
            <br>
            <img src="../assets/images/FrontEnd.png" alt="FrontEnd" style="float:left; margin-right:8px" width="73.14" height="73.14">
            <h2>FrontEnd</h2>
            <P>HTML / CSS / SCSS / Javascript / jQuery</P><br>
            <img src="../assets/images/BackEnd.png" alt="BrontEnd" style="float:left; margin-right:8px" width="73.14" height="73.14">
            <h2>BackEnd</h2>
            <p>C# / Javascript / Java / Python</p><br>
            <img src="../assets/images/light-bulb.png" alt="Design" style="float:left; margin-right:8px" width="73.14" height="73.14">
            <h2>Design</h2>
            <p>Photoshop/ Visual Paradiagm</p><br>
            
        </section>
    </body>
</html>